body {
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.more-info {
    display: none;
    margin-top: 1em;
}

.more-info-toggle .icon {
    margin-right: 1em;
}

.more-info ul {
    list-style-type: none;
}

.more-info li {
    margin-bottom: 0.5em;
}

/* http://stackoverflow.com/questions/13354578/custom-li-list-style-with-font-awesome-icon */
.more-info li:before {
    content: "";
    font-family: FontAwesome; /* or whatever */
    display: inline-block;
    margin-left: -1.2em; /*same as padding-left set on li*/
    width: 1.2em; /*same as padding-left set on li*/
}​

/**
 * This front page note is displayed when special hash tag is present in URL.
 *
 * It is designed to separate users who arrive by Google and who get linked in from chat.
 */
#guided-arrival {
    display: none;
}

#advices p {
    font-size: 120%;
}

#from-internet-with-love {
    margin-top: 1em;
}

#from-internet-with-love strong {
    color: #a33;
}